/* Estilos para o cabeçalho */
header {
  background-color: #354f52; /* verde militar */
  color: #ffffff; /* branco */
  padding: 20px;
}

.logo {
  display: inline-block;
  height: 60px;
}

.search-form {
  display: inline-block;
  margin-left: 20px;
}

.search-form input[type="text"] {
  border: none;
  padding: 5px;
  font-size: 16px;
  width: 300px;
}

.search-form button[type="submit"] {
  background-color: #f3c623; /* amarelo */
  border: none;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.user-menu,
.cart-menu {
  display: inline-block;
  margin-left: 20px;
}

.user-menu img,
.cart-menu a {
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.cart-menu button {
  background-color: #f3c623; /* amarelo */
  border: none;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.product-filters {
  display: inline-block;
  margin-left: 20px;
}

.product-filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-filters li {
  display: inline-block;
  margin-right: 10px;
}

.product-filters a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.product-filters a:hover {
  color: #f3c623; /* amarelo */
}
