/* Define o estilo da lista de produtos */
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  margin-top: 50px;
}

/* Define o estilo do item de produto */
.col-md-4 {
  background-color: #d4f4dc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  max-width: 700px;
  padding: 3px;
  flex-basis: calc((100% - 20px));
  max-width: calc((100% - 20px));
}

/* Define o estilo das imagens dos produtos */
.col-md-4 img {
  width: 85%;
  height: 85%;
  object-fit: cover;
}

/* Define o estilo das informações dos produtos */
.card-body {
  padding: 60px;
  max-width: 100%;
}

.card-body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Define o estilo do nome do produto */
.card-body h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

/* Define o estilo da descrição do produto */
.card-body p {
  margin: 0;
  margin-bottom: 10px;
}

/* Define o estilo do preço do produto */
.card-body p.card-text:last-child {
  font-size: 20px;
  font-weight: bold;
  color: #28a745;
}

/* Define o estilo dos botões de ação */
.product-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

/* Define o estilo dos botões de ação - botão comprar */
.product-actions button.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.container-no-results {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: -43px;
  color: var(--darkGrey);
  background: #f9f9f9
}

.container-no-results>div {
  max-width: 75%;
  text-align: center;
  font-size: 16px
}

.container-no-results>div>a,.container-no-results>div>a:hover {
  color: var(--darkGrey);
  text-decoration: underline!important
  
}