header {
  background-image:linear-gradient(to #0ba413,#00a408 )  ;
  border-bottom: 1px solid #ddd;
  height: 260px;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  padding: 30px;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.search-form {
  margin-left: 5%;
  height: 60%;
  width: 100%;
}

.search-form input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  width:350%;
  
}

.search-form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #888;
  margin-left: -30px;
}

.header-right {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
}

.sign-in-link,
.sign-up-link {
  margin-right: 20px;
}

.cart-link {
  margin-right: 10px;
}

.btn-carrinho {
  background-color: #556B2F;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.header-bottom {
  background-color: #4B5320;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  border-top: 3px solid #556B2F;
  border-bottom: 3px solid #556B2F;
  padding: 10px;
}

.product-filters{
  width: 100%;
}

.product-filters ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-filters li {
  margin-right: 10%;
}

.product-filters a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
}

.product-filters a:hover {
  color: #fff;
  background-color: #556B2F;
}

.user-menu {
  padding-right: 20px;
}

.cart-menu {
  margin-left: 70px;
}