header {
  background-color: #022f02;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex: 1;
  

}

.header-left {
  display: flex;
  align-items: center;
  
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 5%;

}

.logo img {
  height: 100%;
  display: flex;
}

.search-form {
  margin-left: 30px;  
  
}

.search-form input[type="text"] {
  border: none;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  width: 100%;
  max-width: 400px;
}

.search {

  display: flex;
  width: 190%;

}


.cart-menu {
  margin-left: auto;
  justify-content:flex-end;
  display: flex;
}

.user-menu {
  margin-left: auto;
  justify-content:flex-end;
  display: flex;
  flex:1;
  margin-right: 5%;
  font-size: 22px;
  font-weight: bold;

}
.cart-btn {
  display: flex;
  justify-content: flex-end;
}

.product-filters {
  text-align: center;
  margin-top: 20px;

}

.product-filters ul {
  list-style: none;
  padding: 15;
  margin: 10;
}

.product-filters li {
  display: inline-block;
  margin-right: 50px;
}

.product-filters li:last-child {
  margin-right: 0;
}

.product-filters a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 22px;
}

.product-filters a:hover {
  text-decoration: underline;
}
.product-filters li:hover a {
  background-color: #4CAF50;
  color: white;
}

.btn-link {
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.btn-primary {
  background-color: #FFC107;
  color: #FFFFFF;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #E0A800;
}
