  <!DOCTYPE html>
  <html lang="pt-br">
    {% load static %}
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}Guerra Suplementos{% endblock %}</title>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Importando JavaScript do Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  </head> 
  <body>
    <header>
      <div class="header-top">
        <div class="header-left">
          <form action="#" class="search-bar">
            <input type="text" placeholder="Busca">
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
          <a href="#" class="account-link">Entre</a>
          <a href="#" class="account-link">Crie sua conta</a>
        </div>
        <div class="header-right">
          <a href="#" class="cart-link"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="header-bottom">
        <nav class="product-filters">
          <ul>
            <li><a href="#">Whey</a></li>
            <li><a href="#">Pré treino</a></li>
            <li><a href="#">Hipercalórico</a></li>
            <li><a href="#">Pasta de amendoim</a></li>
          </ul>
        </nav>
      </div>
    </header>
<main>
  {% block content %}
  <div class="container">
    <div class="product-grid">
      {% for produto in produtos %}
      <div class="product-item">
        <a href="{% url 'detalhes_produto' produto.id %}">
          <div class="product-image"> 
            {% if produto.imagem %}
            <img src="{{ produto.imagem.url }}" alt="{{ produto.produto }}">
            {% else %}
            <p>Este produto não tem imagem associada</p>
            {% endif %}
          </div>
          <div class="product-info">
            <h2>{{ produto.produto }}</h2>
            <p>Preço: R$ {{ produto.preco }}</p>
          </div>
        </a>
        <button class="buy-button" data-produto-id="{{ produto.id }}">Comprar</button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</main>
  </body>
</html>