<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!---JS Cookie-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"
    integrity="sha512-Meww2sXqNHxI1+5Dyh/9KAtvI9RZSA4c1K2k5iL02oiPO/RH3Q30L3M1albtqMg50u4gRTYdV4EXOQqXEI336A=="
    crossorigin="anonymous"></script>

    <!-- Importando JavaScript do Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  </head> 
  <body>
{% include 'pedidos/header.html' %}


      
<main>
  {% block content %}
  <div class="container">
    <div class="product-grid">
      {% for produto in produtos %}
      <div class="product-item">
        <a href="{% url 'detalhes_produto' produto.id %}">
          <div class="product-image"> 
            {% if produto.imagem %}
            <img src="{{ produto.imagem.url }}" alt="{{ produto.produto }}">
            {% else %}
            <p>Este produto não tem imagem associada</p>
            {% endif %}
          </div>
          <div class="product-info">
            <h2>{{ produto.produto }}</h2>
            <p>Preço: R$ {{ produto.preco }}</p>
          </div>
        </a>
        <button class="buy-button" data-produto-id="{{ produto.id }}">Comprar</button>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</main>
  <script src="{% static 'js/logout_modal.js' %}"></script>

  </body>
</html>