<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Importando JavaScript do Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  </head> 
  <body>
    <div class="'container">
      
      <head>
        <meta charset="UTF-8">
        <title>Minha Página</title>
        <link rel="stylesheet" type="text/css">
      </head>
      <body>
        <header>
          <nav>
            <ul>
              <li><a href="#">Início</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
          </nav>
        </header>
    <main>
      {% block content %}
      <div class="container">
        <div class="product-grid">
          {% for produto in produtos %}
          <div class="product-item">
            <a href="{% url 'detalhes_produto' produto.id %}">
              <div class="col-md-6"> 
                {% if produto.imagem %}
                <img src="{{ produto.imagem.url }}" class="img-fluid" alt="{{ produto.produto }}">
                {% else %}
                <p>Este produto não tem imagem associada</p>
                {% endif %}
              </div>
              <div class="product-info">
                <h2>{{ produto.produto }}</h2>
                <p>Preço: R$ {{ produto.preco }}</p>
              </div>
            </a>
            <button class="buy-button" data-produto-id="{{ produto.id }}">Comprar</button>
          </div>
          {% endfor %}
          <script>
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                //...
                headers: { "X-CSRFToken": csrf_token },
                //...
            });
            $(document).ready(function() {
              $('.buy-button').click(function(event) {
                event.preventDefault();
                var productId = $(this).data('produto-id');
                $.ajax({
                  url: '/adicionar-ao-carrinho/',
                  method: 'POST',
                  data: {product_id: productId},
                  success: function(data) {
                    alert('Produto adicionado ao carrinho com sucesso!');
                  },
                  error: function() {
                    alert('Ocorreu um erro ao adicionar o produto ao carrinho!');
                  }
                });
              });
            });
            </script>
        </div>
      </div>
      {% endblock %}
    </main>
    <footer class="fixed-bottom bg-light py-3">
      <div class="container">
        <p class="text-center text-muted">&copy; 2023. Todos os direitos reservados.</p>
      </div>
    </footer>

    <!-- Modal do carrinho -->
    <div class="modal fade" id="carrinhoModal" tabindex="-1" aria-labelledby="carrinhoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="carrinhoModalLabel">Meu Carrinho</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul id="carrinho-itens">
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <a href="{% url 'faz_pedido' %}" class="btn btn-primary">Finalizar pedido</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  </body>
</html>

