{% extends 'pedidos/base.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/carrossel_style.css' %}">
</head>

<div class="container">
  <h1>Lista de Produtos</h1>
  <div class="row">
    {% if nothing %}
    <div class="container-no-results">
     
      <h1>Ops!</h1>
      <div>Parece que não conseguimos encontrar o que você está procurando.  <a href="http://127.0.0.1:8000/pedidos/">voltar para a página inicial </a></div>
  </div>
    {% else %}
    {% for produto in produtos %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <a href="{% url 'detalhes_produto' produto.id %}">
            {% with imagens=produto.produtoimagem_set.all %}
              {% if imagens %}
                <div id="carousel-{{ produto.id }}" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% for imagem in imagens %}
                      <li data-target="#carousel-{{ produto.id }}" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                    {% for imagem in imagens %}
                      {% if imagem.produto_id == produto.id %}
                        <div class="carousel-item{% if forloop.first %} active{% endif %}">
                          <img class="d-block w-100" src="{{ imagem.imagem.url }}" alt="{{ produto.id }}">
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carousel-{{ produto.id }}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-{{ produto.id }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>
                </div>
              {% else %}
                <p>Este produto não tem imagem associada</p>
              {% endif %}
            {% endwith %}
          </a>
            <div class="card-body-wrapper">
            <div class="card-body">

              
              <h2 class="card-title">{{ produto.produto }}</h2>
              <p class="card-text">{{ produto.descricao }}</p>
              <p class="card-text">Preço: R$ {{ produto.preco }}</p>
              
            </div>
          </div>   
        </div>
      </div>
      
      {% if forloop.counter|divisibleby:4 %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% include 'pedidos/logout_modal.html' %}
<script src="{% static 'js/logout_modal.js' %}"></script>

<script>
  function getParameterByName(name) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
  }
  
  $(document).ready(function() {
    console.log(getParameterByName('logout')); 
    
    if (getParameterByName('logout') === 'true') {
      
      $('#logout-modal ').modal('show');
      history.replaceState(null, '', window.location.pathname);

    }});
</script>


{% endblock %}

