{% extends 'estoque/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h2>Cadastrar Produto</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ produto_form.produto.id_for_label }}">Nome do Produto:</label>
                <input type="text" name="{{ produto_form.produto.name }}" id="{{ produto_form.produto.id_for_label }}" placeholder="Nome do Produto">
            </div>

            <div class="form-group">
                <label for="{{ produto_form.descricao.id_for_label }}">Descrição:</label>
                <input type="text" name="{{ produto_form.descricao.name }}" id="{{ produto_form.descricao.id_for_label }}" placeholder="Descrição">
            </div>

            <div class="form-group">
                <label for="{{ produto_form.sabor.id_for_label }}">Sabor:</label>
                {{produto_form.sabor}}

            </div>

            <div class="form-group">
                <label for="{{ produto_form.quantidade_em_estoque.id_for_label }}">Quantidade em Estoque:</label>
                <input type="text" name="{{ produto_form.quantidade_em_estoque.name }}" id="{{ produto_form.quantidade_em_estoque.id_for_label }}" placeholder="Quantidade em Estoque">
            </div>

            <div class="form-group">
                <label for="{{ produto_form.estoque_minimo.id_for_label }}">Quantidade Mínima:</label>
                <input type="text" name="{{ produto_form.estoque_minimo.name }}" id="{{ produto_form.estoque_minimo.id_for_label }}" placeholder="Quantidade Mínima">
            </div>

            <div class="form-group">
                <label for="{{ produto_form.preco.id_for_label }}">Preço:</label>
                {% render_field produto_form.preco|attr:"class=form-control&data-mask=R$ ###.###.###,##" %}
            </div>

            <div class="form-group">
                <label for="{{ produto_form.marca.id_for_label }}">Marca:</label>
                {{produto_form.marca}}
            </div>

            <div class="form-group">
                <label for="{{ imagem_form.imagem.id_for_label }}">Imagem:</label>
                <input type="file" name="{{ imagem_form.imagem.name }}" id="{{ imagem_form.imagem.id_for_label }}" multiple>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
{% endblock %}
