{% extends 'estoque/base.html' %}

{% block content %}
<div class="container">
    {% if request.GET.success %}
    
    {% with product_name=request.GET.product_name %}
      {% include 'product_added.html' %}
    {% endwith %}
     
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">PRODUTO</th>
                <th scope="col">QUANTIDADE EM ESTOQUE</th>
                <th scope="col">QUANTIDADE MÍNIMA</th>
                <th scope="col">EDITAR</th>
                <th scope="col">REMOVER</th>
            </tr>
        </thead>
        <tbody>
          <img data-src="https://url-da-sua-imagem.com" alt="Minha imagem">
            {% for produto in produtos %}
            <tr>
                <th scope="row">{{ produto.pk }}</th>
                <th>{{ produto.produto }}</th>
                <th>{{ produto.quantidade_em_estoque }}</th>
                <th>{{ produto.estoque_minimo }}</th>
                {% if user.is_authenticated %}
                    <th><a href="{% url 'modificar_produto' produto.pk %}">Editar</a></th>
                    <th><a href="{% url 'remover_produto' produto.pk %}">Remover</a></th>    
                {% else %}
                    <th>Sem permissão</th>
                    <th>Sem permissão</th>
                {% endif %}
            </tr>
            {% endfor %}
            
        </tbody>
        
    </table>
    <div id="preview-image"></div>
</div>

{% block scripts %}
<script>  
// Seleciona todas as imagens com o atributo data-src
const lazyImages = document.querySelectorAll('img[data-src]');

// Função para carregar a imagem
function loadImage(img) {
  img.setAttribute('src', img.getAttribute('data-src'));
  img.onload = () => {
    img.removeAttribute('data-src');
  };
}

// Loop através das imagens e carrega cada uma
lazyImages.forEach((img) => {
  loadImage(img);
});

</script>

{% endblock %}


{% endblock %}  
