{% extends 'estoque/base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal_save_product.css' %}">
</head>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">PRODUTO</th>
                <th scope="col">QUANTIDADE EM ESTOQUE</th>
                <th scope="col">QUANTIDADE MÍNIMA</th>
                <th scope="col">EDITAR</th>
                <th scope="col">REMOVER</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <th scope="row">{{ produto.pk }}</th>
                <th>{{ produto.produto }}</th>
                <th>{{ produto.quantidade_em_estoque }}</th>
                <th>{{ produto.estoque_minimo }}</th>
                {% if user.is_authenticated %}
                    <th><a href="{% url 'modificar_produto' produto.pk %}">Editar</a></th>
                    <th><a href="{% url 'remover_produto' produto.pk %}">Remover</a></th>    
                {% else %}
                    <th>Sem permissão</th>
                    <th>Sem permissão</th>
                {% endif %}
            </tr>
            {% endfor %}
            
        </tbody>
        <div>
            {% if produto_adicionado %}
            <script>
                $(document).ready(function() {
                    $('#modal_sucesso').modal('show');
                });
            </script>
            {% endif %}
            
            ...
            
            <!-- Modal -->
            <div class="modal fade" id="modal_sucesso" tabindex="-1" role="dialog" aria-labelledby="modal_sucesso_label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_sucesso_label">Produto adicionado com sucesso</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Seu produto foi adicionado com sucesso.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </table>
</div>

{% endblock %}
