{% extends 'estoque/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h2>Editar Produto</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="produto">Nome do Produto:</label>
                <input type="text" class="form-control" id="produto" name="produto" value="{{ produto.produto }}">
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <input type="text" class="form-control" id="descricao" name="descricao" value="{{ produto.descricao }}">
            </div>

            <div class="form-group">
                <label for="{{ form.sabor.id_for_label }}">Sabor:</label>
                {{ form.sabor }}
                {% if form.sabor.errors %}
                    <div class="form-control" role="form">
                        {{ form.sabor.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="quantidade_em_estoque">Quantidade em Estoque:</label>
                <input type="number" class="form-control" id="quantidade_em_estoque" name="quantidade_em_estoque" value="{{ produto.quantidade_em_estoque }}">
            </div>
            <div class="form-group">
                <label for="estoque_minimo">Quantidade Mínima:</label>
                <input type="number" class="form-control" id="estoque_minimo" name="estoque_minimo" value="{{ produto.estoque_minimo }}">
            </div>

            <div class="form-group">
                <label for="preco">Preço:</label>
                <input class="form-control" id="preco" name="preco" value="{{ produto.preco }}">
            </div>

            <div class="form-group">
                <label for="{{ form.marca.id_for_label }}">Marca:</label>
                {{ form.marca }}
                {% if form.marca.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.marca.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit">Salvar Alterações</button>
        </form>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ imagem_form.as_p }}
            <div class="form-group">
                <label for="id_imagem">Imagem:</label>
                <input type="file" name="imagem" id="id_imagem">
            </div>
            <button type="submit">Adicionar Imagem</button>
        </form>

        {% if imagens_do_produto %}
            <h2>Imagens associadas ao produto</h2>
            {% for imagem in imagens_do_produto %}
                <img src="{{ imagem.imagem.url }}" alt="Imagem do produto" width="200" height="200">
            {% endfor %}
        {% else %}
            <p>Produto sem imagens associadas</p>
        {% endif %}
    </div>
{% endblock %}
